.currentDate {
    width: 115px;
height: 22px;
top: 501px;
left: 114px;
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 21.79px;
text-align: left;
color: #9B9B9B ;
margin: 0;
}