.rectangle {
    height: 21.73px;
    border-radius: 0px 20px 20px 0px;
    background-color: #8784D2;
    text-align: start;
    margin-left: 10px;
}

.content {
    display: flex;
    align-items: center;
    text-align: left;
}

.head {
    margin: 0;
}

.container {
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 10px;
}
