.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    padding-top: 20px;
}

.detailsLeft {
    display: flex;
    align-items: center;
    gap: 10px;
}

.detailsRight {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 24px;
    height: 24px;
    top: 485px;
    left: 66px;
    border-radius: 15px;
    background: #D9D9D9;
}

.cancelButton,
.editButton {
    width: 37px;
    height: 37px;
    border-radius: 15px;
    border: none;
    color: white;
    margin-right: 5px;
}

.cancelButton {
    background: #FF3E3E;
}

.editButton {
    background: #F4BB4A;
    cursor: pointer;
}

.expenseTitle {
    width: 59px;
height: 22px;
top: 478px;
left: 114px;
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 21.79px;
text-align: left;
margin: 0;
}

.expenseRupee {
    width: 37px;
height: 22px;
top: 490px;
left: 627px;
font-family: Open Sans;
font-size: 16px;
font-weight: 700;
line-height: 21.79px;
text-align: left;
color: #F4BB4A;

}

.leftPart {
    margin-left: 5px;
}