.container {
    background: #EFEFEFD9;
    color: black;
    padding-left: 30px;
    padding-right: 10px;
    position: relative;
    opacity: 100% !important;
    width: 538px;
    height: 335px;
    border-radius: 15px;
}

.head {
    width: 201px;
    height: 34px;
    font-family: Ubuntu, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 34.47px;
    text-align: left;
    padding-top: 20px;
    margin: 0;
}

.addButton {
    width: 223px;
    height: 51px;
    border-radius: 15px;
    background: #F4BB4A;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: white;
    border: none;
    cursor: pointer;
}

.cancelButton {
    width: 112px;
    height: 51px;
    border-radius: 15px;
    color: black;
    background: #E3E3E3;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: none;
    cursor: pointer;
}

.inputs {
    width: 217px;
    height: 51px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #FBFBFB;
    color: #919191;
    border: none;
    padding: 5px;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    outline: none;
    z-index: 1001; /* Ensure the modal is above the overlay */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000; /* Ensure the overlay is above other content */
}
