.container {
    background-color: #3B3B3B ;
    width: 1256px;
    height: 781px;
    top: 36px;
    left: 12px;
    padding-left: 30px;
    
}

.heading {
    padding-top: 20px;
    color: white;
    font-family: Ubuntu;
    text-align: left;
    font-weight: 700;
    font-size: 32px;
    line-height: 36.77px;
    margin: 0;
    padding-bottom: 10px;
}

.content {
    width: 1211px;
height: 269px;
top: 94px;
left: 32px;
border-radius: 10px;
background-color: #626262;
display: flex;
/* justify-content: space-between; */
gap: 50px;
text-align: center;
}

.cardOne {
    background-color: #9B9B9B;
    width: 355.41px;
height: 181px;
top: 140px;
left: 90px;
border-radius: 15px;
margin-left: 50px;
margin-top: 40px;

}

.cardTwo {
    background-color: #9B9B9B;
    width: 355.41px;
height: 181px;
top: 140px;
left: 90px;
border-radius: 15px;
margin-top: 40px;
}

.subHead {
    width: 302px;
height: 34px;
font-family: Ubuntu;
font-size: 30px;
font-weight: 400;
line-height: 34.47px;
color: white;
display: inline-block;
padding-top: 10px;
}

span {
    font-family: Ubuntu;
font-size: 30px;
font-weight: 700;
line-height: 34.47px;
text-align: left;

}

.addButton {
    width: 167.65px;
height: 38px;
top: 245px;
left: 183.88px;
font-family: Ubuntu;
font-size: 16px;
font-weight: 700;
line-height: 18.38px;
text-align: left;
color: #ffff;
text-align: center;
border-radius: 15px;
border: none;
cursor: pointer;
}

.subContents {
    width: 1185px;
height: 345.03px;
top: 440.97px;
left: 32px;
border: 1px;
display: flex;
gap: 55px;
}

.subContentHead {
    width: 261px;
height: 32px;
font-family: Ubuntu;
font-size: 28px;
font-style: italic;
font-weight: 700;
line-height: 32.17px;
text-align: left;
color: #ffff;
margin: 0;
padding-top: 20px;
padding-bottom: 10px;
}

.subContainerOne {
    width: 738.33px;
height: 345.03px;
top: 440.97px;
background-color: white;
border-radius: 15px;
}

.subContainerTwo {
    width: 417px;
height: 345px;
top: 441px;
left: 800px;
border-radius: 15px;
background-color: #ffff;

}