.container {
    background-color: #3B3B3B;
    width: 1256px;
    height: 781px;
    padding-left: 30px;
}

.heading {
    padding-top: 20px;
    color: white;
    font-family: Ubuntu;
    text-align: left;
    font-weight: 700;
    font-size: 32px;
    line-height: 36.77px;
    margin: 0;
    padding-bottom: 10px;
}

.content {
    width: 1211px;
    height: 269px;
    border-radius: 10px;
    background-color: #626262;
    display: flex;
    gap: 50px;
    text-align: center;
}

.cardOne,
.cardTwo {
    background-color: #9B9B9B;
    width: 355.41px;
    height: 181px;
    border-radius: 15px;
    margin-top: 40px;
}

.cardOne {
    margin-left: 50px;
}

.subHead {
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: 400;
    line-height: 34.47px;
    color: white;
    display: inline-block;
    padding-top: 10px;
}

span {
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: 700;
    line-height: 34.47px;
    text-align: left;
}

.addButton {
    width: 167.65px;
    height: 38px;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.38px;
    text-align: center;
    color: #ffff;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.subContents {
    width: 1185px;
    height: 345.03px;
    display: flex;
    gap: 55px;
    padding-top: 30px;
}

 .subContentHead {
    font-family: Ubuntu;
    font-size: 28px;
    font-style: italic;
    font-weight: 700;
    line-height: 32.17px;
    color: #ffff;
    margin: 0;
}

.subContainerOne,
.subContainerTwo {
    border-radius: 15px;
    background-color: #ffff;
}

.subContainerOne {
    width: 738.33px;
    height: 345.03px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.subContainerTwo {
    width: 417px;
    height: 345px;
}

hr{
    padding-left: 10px;
    padding-right: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.page {
    width: 37px;
height: 37px;
top: 739px;
left: 370px;
border-radius: 5px;
background: #43967B;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}

.leftButton,
.rightButton {
    width: 37px;
height: 37px;
top: 739px;
left: 419px;
border-radius: 15px;
border: none;

}